<footer class="footer">
  <small>
    <a href="#">Footer Content Link 1</a>
  </small>
  <nav>
    <ul>
        <li><%= link_to "Footer Content Link 2", "#" %></li>
        <li><%= link_to "Footer Content Link 3", "#" %></li>
        <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>